.comInfor h2 {
    font-size: 14px;
    color: #999;
    line-height: 28px;
    font-weight: normal;
}

.conTitle li, .conList li {
    color: #555757;
}

    .conTitle li:first-child, .conList li:first-child {
        position: relative;
    }

    .conList li:first-child {
        height: 120px;
    }

    .conList li a {
        display: block;
        margin-left: 40px;
    }

    .conList li img {
        margin: 0 !important;
    }

    .conList li:last-child a {
        color: #138bdf;
    }

.conList .checkBox {
    top: 50%;
    margin-top: -7px;
    left: 0;
}

.numSelect {
    position: relative;
}

.numSelect button {
        position: absolute;
        float: left;
        border: 1px solid #d1d1d1;
        width: 30px;
        height: 30px;
        cursor: pointer;
        top: 50%;
        margin-top: -14px;
    }

        .numSelect button:first-child {
            background: url("../../images/industry/deleteNum.png") no-repeat center;
            left: 50%;
            margin-left: -60px;
        }

        .numSelect button:last-child {
            background: url("../../images/industry/addNum.png") no-repeat center;
            right: 50%;
            margin-right: -60px;
        }

    .numSelect input {
        border-top: 1px solid #d1d1d1;
        border-bottom: 1px solid #d1d1d1;
        border-left: none;
        border-right: none;
        width: 60px;
        height: 28px;
        text-align: center;
    }

.bilMoney {
    margin-top: 20px;
    height: 50px;
    background: #f0f0f0;
    line-height: 50px;
}

.red {
    color: #db1856;
}

.price {
    font-size: 20px;
    vertical-align: middle;
}

.bilButtom {
    display: inline-block;
    height: 50px;
    padding: 0 80px;
    color: #fff !important;
    line-height: 50px;
    font-size: 16px;
    background: #db1856;
}

.navlist {
    display: none;
}

.main_table {
    width: 100%;
    border: 1px solid #E4E4E4;
    margin-top: 20px;
}

    .main_table td {
        width: 15%;
        text-align: center;
        border-bottom: 1px solid #E4E4E4;
    }

    .main_table th {
        background: #F4F4F4;
        height: 40px;
        text-align: left;
        font-weight: normal;
    }

        .main_table th:first-child, .main_table td:first-child {
            width: 8%;
            text-align: center;
        }

    .main_table td:nth-child(2), .main_table td:nth-child(3), .main_table td:nth-child(4) {
        width: 10%;
    }

    .main_table td:nth-child(4) {
        text-align: left;
        width: 12%;
    }

    .main_table input[type='checkbox'] {
        position: relative;
        top: 2px;
    }

.blue {
    color: #1490E7;
}

.title {
    position: relative;
}

    .title i {
        float: left;
        margin-top: 2px;
        margin-right: 10px;
        width: 19px;
        height: 15px;
        background: url(../../images/industry/shop.png) 0 0 no-repeat;
    }

    .title span {
        float: left;
    }

.conTitle {
    padding-left: 0;
}

.configure span {
    color: #999;
}

.num {
    position: relative;
    width: 130px;
    margin: 0 auto;
    border-top: 1px solid #D1D1D1;
    border-bottom: 1px solid #D1D1D1;
    height: 28px;
    line-height: 28px;
}

    .num i {
        position: absolute;
        width: 28px;
        height: 28px;
        top: 0;
        border-left: 1px solid #D1D1D1;
        border-right: 1px solid #D1D1D1;
        cursor: pointer;
    }

        .num i.minus {
            left: 0;
            background: url(../../images/industry/deleteNum.png) center center no-repeat;
        }

        .num i.plus {
            right: 0;
            background: url(../../images/industry/addNum.png) center center no-repeat;
        }

.no {
    position: relative;
    background: #E2E2E2;
    cursor: not-allowed;
}

    .no i {
        cursor: not-allowed;
    }

    .no small {
        position: absolute;
        color: #DB1856;
        top: 28px;
        left: 43px;
    }
    .cp_shopcard{
        width:80px;
        display:block;
        overflow:hidden;
    }

/*优惠券弹出框开始*/
.cardpopbox {
    border: #dbdbdb solid 1px;
    width: 350px;
    height: 188px;
    position:absolute;
    left:218px;
    top:43px;
    background-color:#fff;
    z-index:999;
    display:none;
}

    .cardpopbox ul {
        width: 350px;
        border-bottom: #dbdbdb solid 1px;
        overflow: hidden;
    }
.cp_first {
    padding: 15px 0px 15px 15px;
    font-size: 12px;
}

    .cp_first span:first-child {
        color: #333;
    }

    .cp_first span {
        display: block;
    }

.cpprice {
    padding-top: 20px;
    margin-left: 25px;
    font-size: 16px;
    color: #db1856;
}

.cp_btn {
    width: 68px;
    height: 30px;
    display: block;
    background-color: #db1856;
    color: #fff;
    line-height: 30px;
    text-align: center;
    margin: 15px 0px 0px 30px;
    cursor:pointer;
}

/*已领取按钮*/
